<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/placeorder']"><i class="icon-basket"></i> Place Order </a>  
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/home']"><i class="icon-speedometer"></i> Current Order </a>
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/history']"><i class="icon-speedometer"></i> History </a>
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/myprofile']"><i class="icon-user"></i> My Profile </a>
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/payments']"><i class="icon-credit-card"></i>Payments </a>
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/contactus']"><i class="icon-envelope-letter"></i>Contact Us </a>
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/login']"><i class="icon-logout"></i> Logout </a>
            </li>
        </ul>
    </nav>
</div>